* {
	margin:  0;
	padding:  0;
}

body {
	background-color: rgba(36, 135, 241, .51);
	padding-bottom:  15px;
	position: relative;
}

.buttonBack {
    position: absolute;
    left: 40px;
}

.buttonBack a {
    color: white;
    background-color: black;
    padding: 4px 6px 7px;
    border-radius: 14px;
}

.blockTitle {
    text-align: center;
    margin: 30px auto;
    font-size: 30px;
}

.tonalityBlock {
    position: relative;
}

.tonalityInfo p {
    text-align: center;
    margin: 10px 0;
    font-size: 26px;
    font-weight: bold;
}

.tonalityInfo {
    padding: 0 20px;
}

.tonalityImg {
    max-width: 360px;
    margin: 0 auto;
    padding: 0 20px;
}

.tonalityImg img {
    width: 100%;
}

.notesTonality {
    padding: 0 20px;
    text-align: center;
}

.notesTitle {
    font-size: 25px;
}

.notes p:first-of-type {
    margin-bottom: 5px;
    text-decoration: underline;
}

.notes {
    margin: 0 auto 3px;
    background: burlywood;
    font-weight: 700;
    padding: 10px 20px;
}

.notes span {
    color: red;
}

.draggable {
    width: 380px;
    margin: 0 auto !important;
} 

.slick-arrow {
    position: absolute;
    top: -30px;
}

.slick-prev {
    left: 30px;
}

.slick-next {
    right: 30px;
}

.slick-disabled {
    opacity: .3;
}